@*
    Created by Pullaiahgari
    10 10 10 10 10
*@

@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Created by:</p>
<p>Name: Vamshi Krishna Pullaiahgari</p>
<p>ID: 700756839</p>
