@{
    ViewData["Title"] = "Home Page";
}

@*
    Created by Pullaiahgari
    11 11 11 11 11 

*@
<h1 class="display-4">Welcome</h1>
<p>
    This is a full-fledged ASP.NET MVC Webapplication with all ingredients as a precursor to the Entity Framework.
    You can turn around and later create this as a database application which is the objective.
    therfore, understanding the object and classes and how they interact with other classes and
    objects in the frame work is really important.

</p>
<p>
    This application has three controllers, siz views with a shared layout and five models.
    In addition, there are more deals that have constructors, which deserve your special
    attention and understanding.
</p>

